* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: 200px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f1f6f9;
  font-size: 20px;
}

#container {
  background-color: #9ba4b5;
  display: flex;
  flex-direction: row;
  width: 1000px;
  border: solid #27374d 4px;
}

#container1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px 60px;
}

#first-name,
#last-name {
  width: 400px;
  height: 30px;
  border-color: #394867;
}

#male,
#female {
  margin-left: 100px;
}

input[type="radio"] {
  height: 20px;
  width: 20px;
}

button {
  width: 100px;
  height: 40px;
  background-color: #394867;
  color: white;
  border-radius: 5px;
  margin-left: 300px;
}

textarea {
  border-color: #27374d;
}
textarea::placeholder {
  font-size: 20px;
  padding: 5px;
  color: black;
}

#container2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  height: 70%;
  width: auto;
}

#request {
  width: 1000px;
  height: 40px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: green;
}
